:root {

    /* Colors */
    --highlight: #2CA4E1;
    --highlight02: #895210;
    --colour-dark: #031449;
    --colour-med: #081959;
    --colour-light: #FFEBB3;
    --white: white;

    /* Font */
    --body-font: "Manrope", "sans-serif";
}

/*=====================*/
/* Font size for large devices */
@media screen and (min-width: 1024px) {
    :root {}
}

/* Font size for large devices */
@media screen and (min-width: 1920px) {
    :root {}
}

/*=====================*/
/* (every page) */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    min-height: 100%;

    font-family: var(--body-font);
    background-color: var(--white);
    color: var(--colour-dark);
}

p {
    font-size: 0.8rem;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wiki a {
    cursor: pointer;
}
.wiki-list a {
    color: var(--colour-dark);
}

.wiki-decimal {
    padding-left: 20px;
    display: flex;
    grid-gap: 10px;
}



h4 {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 1rem 0;
}

h5 {
    font-size: 1rem;
    font-weight: 500;
    margin: 1rem 0;
}

.caption {
    font-size: 0.5rem !important;
    vertical-align: top;
    font-weight: 600;
}

i {
    font-size: 1.5rem;
    color: var(--colour-light);
}

#divider i {
    font-size: 0.8rem;
}

/*=====================*/
/* Animaiton */
@keyframes fade-in {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes fade-out {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }
}

.fade-in {
    animation: fade-in 1s;
}

.fade-out {
    animation: fade-out 1s;
}

/*=====================*/
/* Body */
.body {
    margin: 9rem 8%;
    margin-bottom: 0;
}

.body-btm {
    margin: 0rem 8%;
}

.body-btm .pill-container {
    margin-top: 60px;
}

/* Annoucement */
#announcement-banner {
    background-color: var(--colour-dark);
    color: var(--white);
    text-align: center;
    padding: 20px;
}

.highlight {
    color: var(--highlight) !important;
}

.highlight-02 {
    color: var(--highlight02);
}

/* Header + Nav */

#header {
    width: 100vw;
    position: fixed;
    z-index: 3;
    transition: 0.8s ease-in-out;
    transform: translateY(0rem);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: hsl(227, 84%, 19%, 100%);
}

.header>*:not(#primary-logo) {
    flex-basis: 0;
    /* flex-grow: 1; */
}

.left {
    justify-content: start;
}

.right {
    display: flex;
    justify-content: end;
    grid-gap:10px;
}

.right>a {
    justify-content: end;
}

.header a i {
    color: var(--colour-light);
}

.right a i {
    font-size: 1rem;
    margin: 0 2px;
}

.header i {
    color: var(--highlight);
    font-size: 1.5rem;

}

#primary-logo {
    width: 90px;
}

.header-hide {
    transform: translateY(-8.5rem) !important;
    transition: 0.8s ease-in-out;
}


/* Nav */

.menu {
    cursor: pointer;
}

nav {
    position: fixed;
    background: linear-gradient(180deg, hsl(207, 95%, 34%, 95%) 0%, hsl(233, 79%, 31%, 95%) 50%, hsl(227, 84%, 19%, 95%)100%);
    height: 100vh;
    width: 80%;
    padding: 0 5%;
    padding-top: 10rem;
    margin-bottom: 8rem;
    z-index: 1;
    transition: 0.5s;

}

.active {
    color: var(--highlight) !important;
    text-decoration: underline;
    text-underline-offset: 2px;
}

nav a {
    color: var(--white);
    line-height: 2rem;
}

.nav-show {
    transform: translateX(-100%);
    transition: 0.5s;
}

#page-index .header {
    background-color: white;
}

#page-index .header a {
    color: var(--colour-med);
}

#page-index .header i {
    color: var(--highlight02);
}

.mobile {
    display: block;
}

.desktop {
    display: none;
}

/* Page-Index */
#home-feature {
    background-color: #edf1f3;
}

#home-feature video {
    width: 100vw;
    height: auto;
    margin-top: 5rem;
    padding: 5rem 0;
}

#home-feature img {
    width: 100%;
    height: 400px;
}

/* Page-Hub */
#page-hub,
#page-collab {
    background-color: var(--colour-med);
    color: var(--white);
}

#page-hub .body,
#page-hub .body-btm,
#page-collab .body-btm,
.about {
    background: linear-gradient(0deg, #101F8C 40%, #045FAA 130%);
    border-radius: 20rem 20rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#page-hub .body-btm,
#page-collab .body-btm {
    border-radius: 0rem 0rem 20rem 20rem;
}


.pill-container {
    margin: 80px 0px 80px 0px;
    width: 80%;
}

.pill-container img {
    width: 130px;
    margin-bottom: 10px;
    border: 4px solid #081959;
    border-radius: 50%;
}

.pill-container .icon-grid {
    margin: 40px 0;
}

.pill-container .icon-grid i,
.bio-grid .icon-grid i {
    background-color: hsl(0, 0%, 100%, 10%);
    border-radius: 50%;
    padding: 15px;
    color: var(--highlight);
    font-size: 1rem;
    font-weight: 500;
    margin: 0 1px;
}

.link-grid {
    display: grid;
    width: 100%;
    margin-bottom: 40px;
}

.link-grid a,
.link-grid p {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--highlight);
    background-color: hsl(0, 0%, 100%, 10%);
    padding: 10px 0;
    margin: 5px 0;
    border-radius: 5px;
}

.link-grid a:first-child {
    background-color: #FFEBB3;
    color: #C18A00;
}

#wiki {
    background-color: var(--white);
    padding: 9rem 8% 5rem 8%;
}


#wiki-details {
    text-align: left;
    width: 100%;
}

.wiki img {
    width: 100%;
    object-fit: cover;
}

.wiki-tab {
    text-align: center;
    background: linear-gradient(90deg, #101F8C 40%, #045FAA 130%);
    color: var(--white);
    padding: 10px 0;
    display: grid;
    align-items: center;
    cursor: pointer;
}

.wiki-tab-content {
    border: 1px solid rgb(44, 164, 225, 0.3);
}


.wiki-tab-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid rgb(44, 164, 225, 0.3);
    padding: 10px;
    line-height: 1.2rem;
}

.wiki-divider {
    border: 0.5px solid rgb(44, 164, 225, 0.3);
    margin: 40px 0;
}

.wiki-list li {
    list-style: disc;
    margin-left: 15px;
    font-size: 0.8rem;
}

.wiki-list a {
    font-size: 0.8rem;

}



.label {
    text-align: center;
    width: 100%;
    border-radius: 0rem 0rem 1rem 1rem;
    background-color: #D0ECFB;
    color: var(--highlight);
    padding: 10px;
    margin-bottom: 30px;
    font-size: 0.6rem;
}

.wiki .left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wiki .right {
    display: block;
    width: 100%;
    margin-top: 30px;
    text-align: left !important;
}

.wiki .right p {
    margin-bottom: 10px;
}


/* Slider Tab */
@media screen and (min-width: 0px) {

    #client-grid {
        overflow-x: auto;
    }

    #slider-tab {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 20px 0 40px 0;
    }

    .slider-tab-inverted {
        outline: solid 1px #d0ecfb;
        width: min-content !important;
    }

    .slider-tab {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        overflow-x: auto;

        background-color: hsl(0, 0%, 100%, 10%);
        width: 100%;
        border-radius: 50px;
    }

    .slider-tab-collab {
        grid-template-columns: repeat(2, 1fr);
        width: auto;
    }

    .slider-tab p {
        margin: 5px;
        color: var(--highlight);
        padding: 5px 15px;
        border-radius: 50px;
        width: max-content;
        cursor: pointer;
    }

    #slider-tab ::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    .client-grid::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.tab-active {
    background-color: var(--colour-light) !important;
    color: #C18A00 !important;
    transition: 0.5s;
}

/* Newsletter */
#module-yellow {
    background-color: var(--colour-light);
    color: #C18A00;
    text-align: center;
    padding: 50px;
}

#module-yellow i {
    color: var(--highlight02);
}

#module-yellow p {
    margin: 0 20px;
}

.ff-67ae87d3c0de5959c3012bdd__title,
.ff-67ae87d3c0de5959c3012bdd__title {
    display: none !important;
}

.ff-67ae87d3c0de5959c3012bdd__form {
    padding: 0 !important;
}

.ff-67ae87d3c0de5959c3012bdd .ff-67ae87d3c0de5959c3012bdd__button {
    width: fit-content !important;
    font-weight: 500 !important;
}

.ff-67ae87d3c0de5959c3012bdd__success .fd-form-success {
    display: flex;
    justify-content: center;
}

[data-ff-el="root"].ff-67ae87d3c0de5959c3012bdd .fd-form-success>*:last-child {
    color: #C18A00;
    font-size: 0.8rem;
    font-weight: 400;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;
    background: white;
    padding: 1px 0;
}

.image-grid img {
    width: 100%;
    height: 100.1%;
}

/* Collaboration Gallery */

#collab {
    text-align: left !important;
    align-items: baseline !important;
}

#collab img {
    width: 80px;
    height: 80px;
    margin: 0;
}

#bio-name {
    grid-gap: 10px;
    margin: 10px 0;
}

#bio-name h4 {
    margin-bottom: 0px;
}

#collab .icon-grid {
    margin: 10px 0;
}

.collab-bio {
    display: flex;
    align-items: center;
    grid-gap: 20px;
    margin-bottom: 20px;
}

.pill-grid {
    display: flex;
    grid-gap: 10px;
    align-items: center;
}

.pill-grid p {
    background-color: hsl(0, 0%, 100%, 10%);
    padding: 10px;
    border-radius: 20px;
    color: var(--highlight);
}

.pill-grid :first-child {
    background-color: var(--colour-light);
    color: var(--highlight02);
}

.bio-grid {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    margin: 20px 0 40px 0;
}

/* Index-about*/

.about {
    border-radius: 20rem !important;
    margin: 9rem 8% 5rem 8% !important;
}

.about .pill-container {
    margin: 80px 0 40px 0;
    color: var(--white);
}

#about-link {
    display: flex;
    justify-content: center;
    grid-gap: 5px;
    margin: 20px 0;
}

#about-link a {
    border-radius: 10rem;
    width: max-content;
    padding: 10px 20px;
}

#client-grid {
    background-color: var(--colour-light);
    padding: 20px 8%;
    display: flex;
    align-items: center;
    grid-gap: 20px;
}

#client-grid img {
    width: 70px;
    max-height: 20px;
}

.project-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(252, 252, 252);
    padding: 50px 8%;
}

.project-category {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-category i {
    color: var(--highlight02);
}


#projects-art,
#projects-design,
#projects-motion {
    width: 100%;
}

.projects-art img,
.projects-design img,
.projects-motion video,
.projects-motion img {
    width: 100%;
}


/* Footer */
footer {
    text-align: center;
    align-items: center;
    margin: 50px auto;
    background-color: #101F8C;
    padding: 10px;
    border-radius: 10px;
}

footer img {
    width: 30px;
}


.hide {
    display: none;
}

@media screen and (min-width: 450px) {

    .body {
        margin: 10rem 20%;
        margin-bottom: 0;
    }

    .body-btm {
        margin: 0 20%;
    }

    #module-yellow {
        padding: 50px 20%;
    }

    #home-feature video {
        margin: 2rem 0;
        padding: 2rem 0;
    }

}




@media screen and (min-width: 750px) {

    .body {
        margin: 10rem 30%;
        margin-bottom: 0;
    }

    .body-btm {
        margin: 0 30%;
    }

    #module-yellow {
        padding: 50px 30%;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: flex;
        align-items: center;
        width: max-content;
    }

    .desktop a {
        margin-right: 40px;
        color: var(--white);
        font-size: 0.8rem;
    }

    #home-feature video {
        margin: 0;
        padding: 0;
    }

    #about {
        padding-top: 10%;
    }

    .about {
        justify-content: center;
        /* left: 0; */
        width: 100%;
        margin: 2rem 25% !important;
        border-radius: 20rem !important;
        /* border-radius: 0rem 20rem 20rem 0rem !important; */
    }

    .about img {
        width: 250px;
        height: auto;
    }

    .about .pill-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: left;
        grid-gap: 30px;
        margin: 80px 0;
    }

    #about-link {
        justify-content: left;
    }

    .about .pill-container div {
        text-align: left;
        justify-content: flex-start;
    }

    #projects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .project-category {
        padding: 50px 20%;
    }


    .project-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
    }

    .project-column {
        display: flex;
        flex-direction: column;
        grid-gap: 5px;
    }

    .project-column :last-child {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #client-grid {
        justify-content: center;
    }

    #slider-tab {
        margin-top: 20px !important;
    }

    #wiki {
        padding: 0 20%;
        padding-top: 12rem;
        padding-bottom:5rem;

    }

    .wiki-body {
        /* background-image: linear-gradient(to bottom,#081959 0%, #081959 25%,
        #E9ECF1 25%, #E9ECF1 100%);
        min-height: 100vh; */
        
        background-image: linear-gradient(to bottom,#081959 0, #081959 500px,
        #E9ECF1 500px, #E9ECF1 1000px);
        min-height: 100vh;
    }

    .wiki {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-gap: 25px;
        background-color: var(--white);
        padding: 40px;
        
    }

    .wiki .right {
        padding-right: 30px;
        margin-top: 0;
    }

    #label-desktop {
        display: flex;
        margin-bottom:3rem !important;
        width: fit-content;
        position: absolute;
        right: 23%;
    }


}

@media screen and (min-width: 1025px) {

    .body {
        margin: 10rem 35%;
        margin-bottom: 0;
    }

    .body-btm {
        margin: 0 35%;
    }

    #module-yellow {
        padding: 50px 35%;
    }
}