:root {

    /* Colors */
    --highlight: #2CA4E1;
    --highlight02: #895210;
    --colour-dark: #031449;
    --colour-med: #081959;
    --colour-light: #FFEBB3;
    --white: white;

    /* Font */
    --body-font: "Manrope", "sans-serif";
}

/*=====================*/
/* Font size for large devices */
@media screen and (min-width: 1024px) {
    :root {}
}

/* Font size for large devices */
@media screen and (min-width: 1920px) {
    :root {}
}

/*=====================*/
/* (every page) */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    min-height: 100%;

    font-family: var(--body-font);
    background-color: var(--white);
    color: var(--colour-dark);
}

p {
    font-size: 0.8rem;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h4 {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 1rem 0;
}

i {
    font-size: 1.5rem;
    color: var(--colour-light);
}

#divider i {
    font-size: 0.8rem;
}

/*=====================*/
/* Animaiton */
@keyframes fade-in {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes fade-out {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }
}

.fade-in {
    animation: fade-in 1s;
}

.fade-out {
    animation: fade-out 1s;
}

/*=====================*/
/* Body */
.body {
    margin: 9rem 8%;
    margin-bottom: 0;
}

.body-btm {
    margin: 0rem 8%;
}

.body-btm .pill-container {
    margin-top: 60px;
}

/* Annoucement */
#announcement-banner {
    background-color: var(--colour-dark);
    color: var(--white);
    text-align: center;
    padding: 20px;
}

.highlight {
    color: var(--highlight);
}

.highlight-02 {
    color: var(--highlight02);
}

/* Header + Nav */

#header {
    width: 100vw;
    position: fixed;
    z-index: 3;
    transition: 0.8s ease-in-out;
    transform: translateY(0rem);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: hsl(227, 84%, 19%, 100%);
}

.header a i {
    color: var(--colour-light);
    font-size: 1.5rem;
}

.header i {
    color: var(--highlight);
    font-size: 1.5rem;

}

#primary-logo {
    width: 150px;
    filter: brightness(10);
}

.header-hide {
    transform: translateY(-8rem) !important;
    transition: 0.8s ease-in-out;
}


/* Nav */

.menu {
    cursor: pointer;
}

nav {
    position: fixed;
    background: linear-gradient(180deg, hsl(207, 95%, 34%, 95%) 0%, hsl(233, 79%, 31%, 95%) 50%, hsl(227, 84%, 19%, 95%)100%);
    height: 100vh;
    width: 80%;
    padding: 0 5%;
    padding-top: 8rem;
    margin-bottom: 8rem;
    z-index: 1;
    transition: 1s;

}

.active {
    color: var(--highlight) !important;
}

nav a {
    color: var(--white);
    line-height: 2rem;
}

.nav-show {
    transform: translateX(-100%);
    transition: 1s;
}

.mobile {
    display: block;
}

.desktop {
    display: none;
}

/* Page-Hub */
#page-hub {
    background-color: var(--colour-med);
    color: var(--white);
}

#page-hub .body,
#page-hub .body-btm {
    background: linear-gradient(0deg, #101F8C 40%, #045FAA 130%);
    border-radius: 20rem 20rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#page-hub .body-btm {
    border-radius: 0rem 0rem 20rem 20rem;
}

.body .pill-container {
    margin: 80px 0px 40px 0px;
}

.pill-container {
    margin: 80px 0px 80px 0px;
    width: 80%;
}

.pill-container img {
    width: 160px;
    margin-bottom: 20px;
    border: 4px solid #081959;
    border-radius: 50%;
}

.pill-container .icon-grid {
    margin: 40px 0;
}

.pill-container .icon-grid i {
    background-color: hsl(0, 0%, 100%, 10%);
    border-radius: 50%;
    padding: 15px;
    color: var(--highlight);
    font-size: 1rem;
    font-weight: 500;
    margin: 0 1px;
}

.link-grid {
    display: grid;
    width: 100%;
    margin-bottom: 40px;
}

.link-grid a,
.link-grid p {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--highlight);
    background-color: hsl(0, 0%, 100%, 10%);
    padding: 10px 0;
    margin: 5px 0;
    border-radius: 5px;
}

.link-grid a:first-child {
    background-color: #FFEBB3;
    color: #C18A00;
}

/* Slider Tab */
@media screen and (min-width: 0px) {
    #slider-tab {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 40px 0;
    }

    .slider-tab {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        overflow-x: auto;

        background-color: hsl(0, 0%, 100%, 10%);
        width: 100%;
        border-radius: 50px;
    }

    .slider-tab-collab {
        grid-template-columns: repeat(2, 1fr);
        width: auto;
    }

    .slider-tab p {
        margin: 5px;
        color: var(--highlight);
        padding: 5px 15px;
        border-radius: 50px;
        width: max-content;
        cursor: pointer;
    }

    #slider-tab ::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.tab-active {
    background-color: var(--colour-light) !important;
    color: #C18A00 !important;
    transition: 0.5s;
}

/* Newsletter */
#newsletter {
    background-color: var(--colour-light);
    color: #C18A00;
    text-align: center;
    padding: 50px;

}

#newsletter i {
    color: var(--highlight02);
}

#newsletter p {
    margin: 0 20px;
}

.ff-67ae87d3c0de5959c3012bdd__title,
.ff-67ae87d3c0de5959c3012bdd__title {
    display: none !important;
}

.ff-67ae87d3c0de5959c3012bdd__form {
    padding: 0 !important;
}

.ff-67ae87d3c0de5959c3012bdd .ff-67ae87d3c0de5959c3012bdd__button {
    width: fit-content !important;
    font-weight: 500 !important;
}

.ff-67ae87d3c0de5959c3012bdd__success .fd-form-success {
    display: flex;
    justify-content: center;
}

[data-ff-el="root"].ff-67ae87d3c0de5959c3012bdd .fd-form-success>*:last-child{
    color: #C18A00;
    font-size: 0.8rem;
    font-weight: 400;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;
    background: white;
    padding: 1px 0;
}

.image-grid img {
    width: 100%;
    height: 100.1%;
}

/* Footer */
footer {
    text-align: center;
    align-items: center;
    margin: 50px auto;
    background-color: #101F8C;
    padding: 10px;
    border-radius: 10px;
}

footer img {
    width: 30px;
}


.hide {
    display: none;
}

@media screen and (min-width: 450px) {

    .body {
        margin: 10rem 20%;
        margin-bottom: 0;
    }

    .body-btm {
        margin: 0 20%;
    }

    #newsletter {
        padding: 50px 20%;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: flex;
        align-items: center;
    }

    .desktop a {
        margin-right: 50px;
        color: var(--white);
        font-size: 0.8rem;
    }

}




@media screen and (min-width: 750px) {

    .body {
        margin: 10rem 30%;
        margin-bottom: 0;
    }

    .body-btm {
        margin: 0 30%;
    }

    #newsletter {
        padding: 50px 30%;
    }
}

@media screen and (min-width: 1025px) {

    .body {
        margin: 10rem 35%;
        margin-bottom: 0;
    }

    .body-btm {
        margin: 0 35%;
    }

    #newsletter {
        padding: 50px 35%;
    }
}