/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 2rem;

    /*========== Colors ==========*/
    --colour-orange: #f2bc75;
    --colour-orange-alt: #ff591f;

    --colour-green: #b3d186;
    --colour-green-alt: #2f8c6f;

    --colour-blue: #87ccc0;
    --colour-blue-alt: #1b799e;

    --colour-blue-purple: #6f84c3;
    --colour-blue-purple-alt: #b1ade0;

    --colour-purple: #d0b1f2;
    --colour-purple-alt: #8271d8;

    --colour-pink: #f3c2ed;
    --colour-pink-alt: #b071d8;

    --colour-black: #342f31;
    --colour-black-alt: #292526;

    --colour-white: #f3f1ed;
    --colour-white-alt: #d1d1d1;


    /* --scroll-bar-colour: hsl(var(--hue-colour), 12%, 90%);
    --scroll-thumb-colour: hsl(var(--hue-colour), 12%, 80%); */

    /*========== Font and typography ==========*/
    --body-font: 'Raleway', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2.5rem;
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margin Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== Animation ==========*/

@keyframes fade-in {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

/*========== Variables Dark theme ==========*/


/*========== Button Dark/Light ==========*/


/*==================== BASE ====================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--text-color);
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--colour-white);
    color: var(--colour-white);
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--colour-green-alt);
    font-weight: var(--font-medium);
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    max-width: 3rem;
    margin: 1rem auto;
    border: none;
    height: 2px;
}

.icons i {
    font-size: var(--h3-font-size);
    color: var(--colour-white);
}


/*==================== REUSABLE CSS CLASSES ====================*/
section {
    padding: 2rem 0;
}

.section-title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
}

.section-subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section-title,
.section-subtitle {
    text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
    margin-left: var(--mb-1-5) !important;
    margin-right: var(--mb-1-5) !important;
}

.header {
    width: 100%;
    padding: 0 5%;
    position: fixed;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--text-colour);
}

.webpage-content {
    margin-top: var(--header-height);
    animation: fade-in 1s;
}

/*==================== NAV ====================*/

/*==================== HOMEPAGE ====================*/

.welcome {
    height: 100vh;
    background-image: url(assets/Content/Backgrounds/VLS_BG_Green-02.png);
    background-repeat: no-repeat;
    background-size: 100vw;
}

.home-about {
    max-width: 65%;
    margin: 0 auto;
    text-align: center;
    margin-top: 12rem;
}

.home-about-header {
    font-size: var(--big-font-size);
    font-weight: 700;
    line-height: 3rem;
}

.home-about-subtext {
    margin-top: 0.5rem;
    line-height: 1.5rem;
}

.welcome-footer i{
    margin: 0rem 0.3rem;
}


/*==================== HOME - SECTIONS ====================*/

.home-section-text {
    color: var(--colour-black);
    text-align: center;
    max-width: 75%;
    margin: 0 auto;
    position: relative;
}

.home-section-header {
    font-size: var(--h2-font-size);
    font-weight: 600;
}

.home-section-subtext {
    font-weight: var(--font-medium);
    line-height: 1.5rem;
    margin: 2.5rem 0;
}

.about-img {
    display: flex;
    justify-content: center;
}


.about-img img {
    object-fit: cover;
    object-position: 100% 55%;
    height: 55%;
    width: 70%;
    border-radius: 25rem;
}

.wave {
    z-index: -1;
}
#wave-blue {
    top: 145vh;
    position: absolute;
    right: 0;
    margin-bottom: 2rem;
    width: 60%;
}

#wave-blue-purple {
    top: 185vh;
    position: absolute;
    left: 0;
    margin-bottom: 2rem;
    width: 35%;
}


/*==================== CLIENT GRID ====================*/

.client-grid {
    margin: 3.5rem;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
}

.client-grid-item {
    background-color: var(--colour-white);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    filter: drop-shadow(5px 5px 5px #d1d1d1);
    z-index: 1;
}

.grid-span-2 {
    grid-column: span 2;
}

/*==================== HOME GRID ====================*/

.home-grid {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 1rem;
    grid-column-gap: 0.25rem;
    max-width: 80%;
    margin: 0 auto;
}

.home-grid-item {
    text-align: center;
    border-radius: 1rem;
    background-color: var(--colour-white);
    color: var(--colour-black);
    filter: drop-shadow(5px 5px 5px #d1d1d1);
}

.home-grid-item img {
   border-top-left-radius: 1rem;
   border-top-right-radius: 1rem;
}

.home-grid-text {
    margin: 1rem;
}

.home-grid-header {
    font-size: var(--h2-font-size);
    font-weight: 600;
}

.home-grid-subtext {
    font-weight: var(--font-medium);
    line-height: 1.5rem;
    margin: 0.5rem 0;
}



/*==================== HOME GRID VERTICAL ====================*/

.home-grid-vert {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 1rem;
    grid-column-gap: 0.25rem;
    max-width: 80%;
    margin: 0 auto;
}

.home-grid-vert-item {
    display: flex;
    align-items: center;
    border-radius: 1rem;
    background-color: var(--colour-white);
    color: var(--colour-black);
    filter: drop-shadow(5px 5px 5px #d1d1d1);
}

.home-grid-vert-item img {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    float: left;
    width: 50%;
    height: 100%;
    object-fit: cover;
 }

 .home-grid-vert-header {
    padding: 1rem 1rem;
 }

 #home-paymentlinks {
    object-position: 87%;

 }



/*==================== DESIGNS ====================*/

.design {
    margin-top: var(--header-height);
    display: flex;
    flex-direction: column;
}

#design-feature {
    width: 100vw;
    object-fit: cover;
    border-radius: 1rem;
    object-position: 50% 20%;
    margin-bottom: 2rem;
    padding-top: var(--header-height);
}

.design-about {
    max-width: 90%;
    margin: 2em auto;
    text-align: center;
}

.design-title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
}

.design-description {
    margin-bottom: var(--mb-0-75);
    line-height: var(--h2-font-size);
}

.design-grid {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 0rem;
    grid-column-gap: 0.25rem;
    max-width: 95%;
    margin: 1rem auto;
}

/*==================== DESIGN FOCUS PAGES ====================*/

.design-focus {
    margin-top: var(--header-height);
    display: flex;
    flex-direction: column;
}

.design-focus-about {
    max-width: 90%;
    margin: 2em auto;
    text-align: center;
}

.design-focus-title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
}

.design-focus-description {
    margin-top: 2em;
    line-height: var(--h2-font-size);
}


.design-focus-grid {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 0.25rem;
    margin: 0 0.25rem 0.25rem 0.25rem;
}

/*==================== ILLUSTRATIONS ====================*/


.illustration {
    padding-top: var(--header-height);
    margin: 0 var(--mb-0-25);
    display: flex;
    flex-direction: column;
}

.illus-item {
    width: 100vw;
}

/*==================== BUTTONS ====================*/

button {
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1rem 4rem;
    border-radius: 2rem;
    font-size: var(--smaller-font-size);
    font-weight: var(--font-semi-bold);
}

#btn-explore {
    margin: 1.5rem 0rem;
    color: var(--colour-green-alt)
}


/*==== HOME GRID BUTTONS ====*/

.btn-grid {
    margin: 1rem 0rem;
    color: var(--colour-white);
}

#btn-solar {
    background-image: linear-gradient(to right, #e6b1f2 , #8271d8);
}

#btn-harvest {
    background-image: linear-gradient(to right, #b3d186 , #2f8c6f);
}

#btn-till {
    background-image: linear-gradient(to right, #f2bc75 , #f04f23);
}

#btn-gallery {
    background-image: linear-gradient(to right, #87ccc0 , #1b799e);
    padding: 1em 2em;
}

#btn-motion {
    background-image: linear-gradient(to right, #b3d186 , #2f8c6f);
    padding: 1em 2em;
}

#btn-print {
    background-image: linear-gradient(to right, #e6b1f2 , #8271d8);
    padding: 1em 2em;
}




/*==== LOAD MORE BUTTON ====*/


#show {
    display: none;
}

#btn-load,
#btn-hide {
    background-color: rgba(243, 241, 237, 0.0);
    color: var(--colour-black);
}

#btn-hide {
    display: none;
}


/*==================== SKILLS ====================*/


/*==================== QUALIFICATION ====================*/


/*==================== SERVICES ====================*/




/*==================== PROJECT IN MIND ====================*/


/*==================== TESTIMONIAL ====================*/


/*==================== CONTACT ME ====================*/


/*==================== FOOTER ====================*/
.footer {
    position: sticky;
    top: 100%;
    width: 100%;
    bottom: 0;
    text-align: center;
    margin-top: auto;
    padding: 2rem;
}

.footer-copy {
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--colour-purple-alt);
}


/*========== SCROLL UP + DOWN ==========*/
#scroll {
    display: flex;
    position: fixed;
    border-radius: 6rem;
    padding: 0.7rem;
    right: 8%;
    bottom: 2rem;
    align-items: center;
    z-index: 2;
    background-color: var(--colour-green);
}

#scroll i {
    font-size: 1.5rem;
    transition: 0.3s;
    color: var(--colour-green-alt);
    font-weight: 900;
}

.scroll-up {
    background-color: var(--colour-green)!important;
    transition: 1s;
}

.scroll-up i {
    transform: rotate(180deg);
    transition: 1s;
    color: var(--colour-blue-alt)
}

/*COLOUR CHANGES*/
.scroll-up-blue {
    background-color: var(--colour-blue)!important;
    transition: 2s;
}

.scroll-up-blue i {
    color: var(--colour-blue-alt)!important;
    transition: 2s;
}

.scroll-up-blue-purple {
    background-color: var(--colour-blue-purple-alt)!important;
    transition: 2s;
}

.scroll-up-blue-purple i {
    color: var(--colour-blue-purple)!important;
    transition: 2s;
}


.scroll-up-purple {
    background-color: var(--colour-purple)!important;
    transition: 2s;
}

.scroll-up-purple i {
    color: var(--colour-purple-alt) !important;
    transition: 2s;
}

.scroll-up-pink {
    background-color: var(--colour-pink)!important;
    transition: 2s;
}

.scroll-up-pink i {
    color: var(--colour-pink-alt) !important;
    transition: 2s;
}







/*========== SCROLL BAR ==========*/
/* Scrollbar (Hide)*/
/* Chrome, Safari, Opera */
html::-webkit-scrollbar {
    display: none;
}

/* Firefox, IE, Edge */
html {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


/*==================== MEDIA QUERIES ====================*/

/*============ SMALL DEVICES ============*/
@media screen and (max-width: 350px) {


    /* Nav */

    .nav-link {
        padding: 5%;
    }

    .dropdown-group {
        padding-left: 5%;
    }

    .dropdown-title,
    .dropdown-link {
        font-size: var(--small-font-size);
    }

}

/*============ MEDIUM DEVICES ============*/
@media screen and (max-width: 768px) {


    /* Nav */

}

/*============ LARGE DEVICES ============*/

@media screen and (min-width: 1024px) {

    /* Nav */

    /* Home */

    .page-feature-banner img {
        margin-bottom: 3rem;
    }

    .home-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 0.25rem;
        grid-column-gap: 0.25rem;
        max-width: 95%;
        margin-bottom: 3rem;
    }

    .home-about {
        max-width: 50%;
        margin: 5rem auto;
        height: 100vh;
    }




    /* Design-focus */
    .design-focus-about {
        max-width: 70%;
        text-align: center;
        margin-top: 2rem;
    }

    .design-focus-title {
        font-size: var(--h3-font-size);
        margin-bottom: var(--mb-0-5);
    }

    .design-focus-description {
        margin-bottom: var(--mb-0-75);
        line-height: var(--h2-font-size);
    }

    .design-focus-grid {
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 2rem;
        max-width: 60%;
        margin: 1rem auto;
        padding-bottom: 3rem;
    }

    /* Illustration */

    .illustration {
        padding-top: var(--header-height);
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .illus-grid {
        margin: 0 5px;
        columns: 4;
        column-gap: 5px;
    }

    .illus-item img {
        margin-bottom: 10px;
    }


    .nina {
        width: 100%;
        height: 19%;
        object-fit: cover;

    }

    .ocean {
        width: 100%;
        height: 19.72%;
        object-fit: cover;
        object-position: 10% 20%;
    }

    .keycap {
        width: 100%;
        height: 9.92%;
        object-fit: cover;
        object-position: 10% 43%;
    }

    .keycapClose {
        width: 100%;
        height: 11.26%;
        object-fit: cover;
        object-position: 10% 43%;
    }

    .portrait {
        width: 100%;
        height: 15%;
        object-position: 10% 43%;
        object-fit: cover;
    }

    .grass {
        width: 100%;
        height: 20%;
        object-position: 10% 43%;
        object-fit: cover;
    }

    .leon {
        width: 100%;
        height: 10%;
        object-fit: cover;
        object-position: 0% 35%;
    }

    .fish {
        width: 100%;
        height: 12%;
        object-fit: cover;
    }

    .renee {
        width: 100%;
        height: 16.45%;
        object-fit: cover;
    }

    .frog {
        width: 100%;
        height: 14.43%;
        object-fit: cover;
    }
}