/* --------------------------------------------------------------- */
/*Website 2.0 */

/* Scrollbar (Hide)*/
/* Chrome, Safari, Opera */
html::-webkit-scrollbar {
    display: none;
}

/* Firefox, IE, Edge */
html {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

:root {
    --bg-color: #fafafa;
    --bg-colour-light: #f1f1f1;
    --accent-color: #f04f23;
    --accent-light: #faf1e7;
    --text-color: #222;
    --blue: #0088dd;
    --blue-darken: #0078c2;


    --mobile-header-height: 10rem;
    --desktop-header-height: 5em;


    /* Font*/
    --family-font: 'Raleway', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    /* Size */
    --tiny-text-size: 0.7em;
    --small-text-size: 0.8em;
    --regular-text-size: 1em;
    --medium-text-size: 1.2em;
    --large-text-size: 1.5em;
    --extra-large-text-size: 1.7em;
    --XXL-text-size: 2em;
    --XXXL-text-size: 2.5em;

    /* Weight */
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: var(--family-font);
    font-size: var(--body-text);
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: calc(100vh - var(--desktop-header-height));
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.3s;
    font-weight: var(--semi-bold);
}

a:hover {
    color: var(--accent-color);
}

.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

button {
    padding: 0.5em 5em;
    border-radius: 30px;
    outline: none;
    border: none;
    background-color: var(--blue);
    font-weight: var(--medium);
    color: var(--bg-color);
    font-family: var(--family-font);
    cursor: pointer;
}

button:hover {
    background-color: var(--blue-darken);
    transition: 0.3s;
}

@keyframes fade-in {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

/* ----------------------- Fixed Header for Mobile ----------------------- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 5%;
    background-color: var(--bg-color);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
    z-index: 5;
}

nav {
    height: var(--mobile-header-height);
}

.nav-bar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    color: var(--text-color);
    font-weight: var(--medium);
    font-size: var(--XXXL-text-size);
    transition: color 0.3s;
}

.nav-logo:hover {
    color: var(--accent-color);
}

/* ----------------------- Toggle Hamburger Menu ----------------------- */
.nav-toggle {
    position: relative;
    width: 50px;
    height: 50px;

}

.nav-toggle-menu,
.nav-toggle-close {
    font-size: 3rem;
    color: var(--text-color);
    position: absolute;
    display: grid;
    place-items: center;
    inset: 0;
    cursor: pointer;
    transition: opacity 0.1s, transofrm 0.4s;
}

.nav-toggle-close {
    opacity: 0;
}

/* ----------------------- Navigation for Mobile ----------------------- */
@media screen and (max-width: 1118px) {
    .nav-menu {
        background-color: var(--bg-color);
        position: absolute;
        left: 0;
        top: 2.5rem;
        width: 100%;
        height: calc(100vh -3.5rem);
        /* padding-block: 1.5rem 1rem; */
        pointer-events: none;
        opacity: 0;
        transition: top 0.4s, opacity 0.3s;
    }
}

.nav-link {
    color: var(--body-text-color);
    font-weight: var(--medium);
    font-size: var(--small-text-size);
    padding: 1.25rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s;
}

.nav-link:hover {
    background-color: var(--bg-colour-light);
    color: var(--accent);
}

.show-menu {
    opacity: 1;
    top: 3.5rem;
    pointer-events: initial;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
}

.show-icon .nav-toggle-menu {
    opacity: 0;
    transition: 0.3s;
}

.show-icon .nav-toggle-close {
    opacity: 1;
    transition: 0.3s;
}

.dropdown-button {
    cursor: pointer;
}



/* ----------------------- Navigation for Mobile: Dropdown ----------------------- */

.dropdown-arrow {
    font-size: 1rem;
    font-weight: initial;
    transition: transform 0.4s;
}

.dropdown-container {
    background-color: var(--bg-colour-light);
    height: 0;
    overflow: hidden;
    transition: height 0.4s;
}

.dropdown-content,
.dropdown-group,
.dropdown-list {
    display: grid;
}

.dropdown-content {
    row-gap: 1.75rem;
}

.dropdown-group {
    padding-left: 2.5rem;
    row-gap: 0.5rem;
}

.dropdown-group:first-child {
    margin-top: 1.25rem;
}

.dropdown-group:last-child {
    margin-bottom: 1.25rem;
}

/* ----------------------- Navigation for Mobile: Dropdown_ Icon, Title, ----------------------- */
.dropdown-title {
    font-size: var(--small-text-size);
    font-weight: var(--semi-bold);
    color: var(--text-color);
    transition: color 0.3s;
}

.dropdown-icon {
    font-size: 1.25rem;
    color: var(--accent-color);
}

/* ----------------------- Navigation for Mobile: Dropdown_Rotate Dropdown Arrow ----------------------- */
.show-dropdown .dropdown-arrow {
    transform: rotate(180deg);
}

.dropdown-list {
    row-gap: 0.25rem;
}

.dropdown-link {
    font-size: var(--small-text-size);
    transition: color 0.3s;
    cursor: pointer;
}

.dropdown-link:hover {
    color: var(--accent-color);
}


/* ----------------------- Navigation for Mobile: Dropdown_social icons ----------------------- */
.dropdown-social-icons {
    display: inline-flex;
    padding: 1rem 5%;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s;
    font-weight: var(--medium);
}

/* Breakpoints */
/* ----------------------- Navigation for Mobile: Dropdown ----------------------- */
@media screen and (max-width: 300px) {
    .dropdown-group {
        padding-left: 1.5rem;
    }
}

/* ----------------------- Navigation for Desktop: Dropdown ----------------------- */
@media screen and (min-width: 1118px) {

    .nav-toggle {
        display: none;
    }

    .nav-link:hover {
        background-color: var(--bg-color);
        color: var(--accent-color);
    }

    .nav-container {
        align-items: center;
    }

    .nav-container {
        height: calc(var(--mobile-header-height) +2rem);
        display: flex;
        justify-content: space-between;
    }

    .nav_toggle {
        display: none;
    }

    .nav-list {
        display: flex;
        column-gap: 2rem;
        align-items: center;
    }

    .nav li {
        display: flex;
    }

    .nav_link {
        padding: 0;
    }

/* ----------------------- Navigation for Desktop: Dropdown ----------------------- */
    .dropdown-button {
        column-gap: 0.25rem;
        pointer-events: none;
    }


    .dropdown-item:hover {
        color: var(--accent-color);
    }

    .dropdown-container {
        height: 14em;
        position: absolute;
        left: 0;
        right: 0;
        padding: 0 5%;
        background-color: var(--bg-color);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
        pointer-events: none;
        opacity: 0;
        transition: top .4s, opacity 0.3s;
    }

    .dropdown-content {
        grid-template-columns: repeat(4, max-content);
        column-gap: 6rem;
        max-width: 1120px;
    }

    .dropdown-group {
        padding: 1em 0;
        align-content: baseline;
        row-gap: 1.25rem;
    }

    .dropdown-group:first-child,
    .dropdown-group:last-child {
        margin-top: 0;
    }

    .dropdown-list {
        row-gap: 0.75;
    }

    .dropdown-icon {
        width: 30px;
        height: 30px;
        background-color: var(--bg-colour-light);
        border-radius: 50%;
        display: grid;
        place-items: center;
        margin-bottom: 0.5rem;
    }

    .dropdown-icon i {
        font-size: 1rem;
    }

    .dropdown-title {
        font-size: 0.9em;
    }

    .dropdown-link {
        font-size: var(--small-text-size);
    }

    .dropdown-link:hover {
        color: var(--accent-color);
    }

    .dropdown-item {
        cursor: pointer;
    }

 /* ----------------------- Navigation for Desktop: Dropdown_Rotate Arrow ----------------------- */
    .dropdown-item:hover .dropdown-arrow {
        transform: rotate(180deg);
    }

 /* ----------------------- Navigation for Desktop: Dropdown_Show Dropdown on Hover ----------------------- */
    .dropdown-item:hover .dropdown-container {
        opacity: 1;
        pointer-events: initial;
        cursor: initial;
    }

    .dropdown-container:hover {
        opacity: 1;
        pointer-events: initial;
        cursor: initial;
    }
}

@media screen and (min-width: 1152px) {
    .container {
        margin-inline: auto;
    }
}


/* ----------------------- Navigation for Mobile / Desktop: Footer ----------------------- */
footer {
    position: sticky;
    top: 100%;
    padding: 60px;
    text-align: center;
    width: 100%;
    text-align: center;
    background: #222;
}

footer p {
    font-size: var(--XXL-text-size);
    color: var(--bg-color);
}

#logo-mark {
    max-height: 80px;
    margin-bottom: 20px;
}
/* ----------------------- Homepage for Mobile / Desktop: Homepage_Content ----------------------- */

.homepage-content {
    padding-top: var(--header-height);
    display:flex;
    flex-direction: column;
    align-items: start;
    animation: fade-in 2s;
}

.homepage-content img, video {
    width: 100vw;
}

/* ----------------------- About for Mobile ----------------------- */

.about-content {
    margin-top: var(--mobile-header-height);
    padding: 5%;
    display: flex;
    flex-direction: column;
    animation: fade-in 2s;
}
.about-content img{
    object-fit: cover;
    width: 100px;
    height: 100px;
    object-position: 20% 15%;
    border-radius: 10px;
}

.bio-main {
    display: flex;
    margin-bottom: 20px;
}

/* ------ About_Bio (Text header and category ------ */

.bio-text {
    margin-left: 20px;
}

.bio-header {
    display: flex;
    align-items: center;
}

.bio-header-text {
    font-weight: var(--bold);
    font-size: var(--large-text-size);
}

#bio-verified {
    margin: 0px 10px;
    color: var(--blue)
}


.bio-category {
    font-size: var(--tiny-text-size);
    padding: 5px 10px;
    border-radius: 2em;
    background-color: var(--bg-colour-light);
    margin-right: 20px;
}

/* ------ About_Bio (Subtext, Name and Pronouns) ------ */

.bio-text-info {
    display: flex;
    margin: 0.3em 0;
    font-size: var(--regular-text-size);
    line-height: 1.5em;
}

.bio-text-info p{
    margin-right: 0.5em;
}

.bio-pronouns {
    opacity: 0.5;
    font-size: var(--small-text-size);
}

/* ------ About_Bio (Socials, website and amount of followers) ------ */
.bio-socials {
    font-size: var(--small-text-size);
    line-height: 1.5em;
}

/* ------ About_Buttons (Contact, keywords) ------ */


.bio-button-group {
    margin-top: 1em;
    max-width: 80vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.bio-button {

    font-size: var(--tiny-text-size);
    padding: 5px 10px;
    border-radius: 2em;
    background-color: var(--bg-colour-light);
    margin-right: 10px;
}

#bio-contact-button {
    margin-right: 10px
}

/* ------ About_Text (Body Text) ------ */

.about-text-header{
    font-size: var(--medium-text-size);
}

.about-text-header p {
    margin-bottom: 1em;
    padding: 0;
}

.about-text{
    font-size: var(--small-text-size);
}

.about-text-description p{
    padding: 0.5em 0;
    line-height: 1.5em;
}

hr {
    margin: 1em 0;
    opacity: 0.2;
}

/* ----------------------- Homepage for Desktop: Scroll to Top Button ----------------------- */

#scroll {
    display: none;
}

#scroll i {
    position: fixed;
    right: 3%;
    bottom: 3%;
    width: 30px;
    height: 30px;
    border-radius: 60px;
    background: var(--text-color);
    opacity: 0.3;
    display: flex;
    align-items: center;
    color: var(--bg-colour-light);
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
}

#scroll i:hover {
    opacity: 0.6;
 }

.showscroll {
    display: flex !important;
            z-index: 1;
}


@media screen and (max-width: 1118px) {
    #scroll i {
        width: 50px;
        height: 50px;
        font-size: 2rem;
        right: 3%;
        bottom: 2%;
        z-index: 1;
    }

}