/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 4rem;

    /*========== Colors ==========*/
    /* Change favorite colour */
    --hue-colour: #f04f23;
    /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL colour mode */
    --first-colour: #f04f23;
    --first-colour-alt: #ed380a;
    --first-colour-second: #262626;
    --title-colour: #262626;
    --text-colour: #262626;
    --body-colour-dark: rgb(238, 238, 238);
    /* --input-colour: hsl(var(--hue-colour), 70%, 96%); */
    --body-colour: #fafafa;
    --body-colour-darker: #d1d1d1;
    --container-colour: #fafafa;
    /* --scroll-bar-colour: hsl(var(--hue-colour), 12%, 90%);
    --scroll-thumb-colour: hsl(var(--hue-colour), 12%, 80%); */

    /*========== Font and typography ==========*/
    --body-font: 'Raleway', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margin Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== Animation ==========*/

@keyframes fade-in {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

/*========== Variables Dark theme ==========*/


/*========== Button Dark/Light ==========*/


/*==================== BASE ====================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--text-color);
}

html {
    scroll-behavior: smooth;
    height: 100%;
    background-color: var(--body-colour);
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-colour);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    margin: 1em 0;
    opacity: 0.3;
}


/*==================== REUSABLE CSS CLASSES ====================*/
.section {
    padding: 2rem 0 1rem;
}

.section-title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
}

.section-subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section-title,
.section-subtitle {
    text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
    margin-left: var(--mb-1-5) !important;
    margin-right: var(--mb-1-5) !important;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.header {
    width: 100%;
    padding: 0 5%;
    position: fixed;
    left: 0;
    z-index: var(--z-fixed);
    background-color: rgb(238, 238, 238, 0.9);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
}
.webpage-content{
    margin-top: var(--header-height);
    animation: fade-in 1s;
}

/*==================== NAV ====================*/


/* Navbar base */

nav {
    height: var(--header-height);
}

.nav-bar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    color: var(--text-colour);
    font-weight: var(--font-medium);
    font-size: var(--normal-font-size);
    transition: color 0.3s;
}

.nav-logo:hover {
    color: var(--hue-colour);
}



/* Toggle Hamburger Menu */
.nav-toggle {
    position: relative;
    width: 20px;
    height: 20px;
}


.nav-toggle-menu,
.nav-toggle-close {
    font-size: 1.25rem;
    color: var(--text-colour);
    position: absolute;
    display: grid;
    place-items: center;
    inset: 0;
    cursor: pointer;
    transition: opacity 0.1s, transofrm 0.4s;
}

.nav-toggle-close {
    opacity: 0;
    color: var(--hue-colour);
}

.show-icon .nav-toggle-menu {
    opacity: 0;
    transition: 0.3s;
}

.show-icon .nav-toggle-close {
    opacity: 1;
    transition: 0.3s;
}

/* Navbar - Main Links (Home, Discover, Work, Contact, Social Links) + DropDown Arrow*/
.nav-menu {
    background-color: rgb(250, 250, 250, 0.9);
    position: absolute;
    left: 0;
    top: var(--header-height);
    width: 100%;
    padding-block: 1.5rem 1rem;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
}


.nav-link {
    color: var(--text-colour);
    font-weight: var(--medium);
    font-size: var(--small-font-size);
    padding: 1.25rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s;
}

.nav-link:hover {
    background-color: var(--body-colour-light);
    color: var(--hue-colour);
}

.dropdown-button {
    cursor: pointer;
}

.dropdown-arrow {
    font-size: 1rem;
    font-weight: initial;
    transition: transform 0.4s;
}

/* Rotate dropdown arrow */
.show-dropdown .dropdown-arrow {
    transform: rotate(180deg);
}

/* Navigation-Social icons */
.dropdown-social-icons {
    display: inline-flex;
    margin: 1em 0;
    margin-right: 0.7rem;
    padding: 0 5%;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s;
    font-weight: var(--font-medium);
    color: var(--hue-colour);
}

/* Navbar - Dropdown Container (Bio, IMDB, Designs etc)*/

.dropdown-container {
    background-color: rgb(238, 238, 238, 0.8);
    height: 0;
    overflow: hidden;
    transition: height 0.4s;
}

.dropdown-content,
.dropdown-group,
.dropdown-list {
    display: grid;
}

.dropdown-content {
    row-gap: 1.75rem;
}

.dropdown-group {
    padding-left: 2.5rem;
    row-gap: 0.5rem;
}

.dropdown-group:first-child {
    margin-top: 1.25rem;
}

.dropdown-group:last-child {
    margin-bottom: 1.25rem;
}

/* Navbar - Dropdown Links (Title + links)*/
.dropdown-title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--text-colour);
    transition: color 0.3s;
}

.dropdown-icon {
    font-size: 1.25rem;
    color: var(--hue-colour);
}

/*  Navigation*/

.dropdown-list {
    row-gap: 0.25rem;
}

.dropdown-link {
    font-size: var(--normal-font-size);
    transition: color 0.3s;
    cursor: pointer;
}

.dropdown-link:hover {
    color: var(--hue-colour);
}


/* show menu */
.show-menu {
    opacity: 1;
    pointer-events: initial;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
}

/*==================== HOME ====================*/

.home {
    margin-top: var(--header-height);
    display: flex;
    flex-direction: column;
}

.page-feature img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: 50% 20%;
    margin-bottom: 2rem;
}

.home-about {
    max-width: 90%;
    margin: 2em auto;
    text-align: center;
}

.home-title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
}

.home-description {
    margin-bottom: var(--mb-0-75);
    line-height: var(--h2-font-size);
}

.home-grid {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 0rem;
    grid-column-gap: 0.25rem;
    max-width: 95%;
    margin: 1rem auto;
}

/*==================== DESIGNS ====================*/

.design {
    margin-top: var(--header-height);
    display: flex;
    flex-direction: column;
}

#design-feature {
    width: 100vw;
    object-fit: cover;
    border-radius: 1rem;
    object-position: 50% 20%;
    margin-bottom: 2rem;
    padding-top: var(--header-height);
}

.design-about {
    max-width: 90%;
    margin: 2em auto;
    text-align: center;
}

.design-title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
}

.design-description {
    margin-bottom: var(--mb-0-75);
    line-height: var(--h2-font-size);
}

.design-grid {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 0rem;
    grid-column-gap: 0.25rem;
    max-width: 95%;
    margin: 1rem auto;
}

/*==================== DESIGN FOCUS PAGES ====================*/

.design-focus {
    margin-top: var(--header-height);
    display: flex;
    flex-direction: column;
}

.design-focus-about {
    max-width: 90%;
    margin: 2em auto;
    text-align: center;
}

.design-focus-title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
}

.design-focus-description {
    margin: 2em 0;
    line-height: var(--h2-font-size);
}



.design-focus-grid {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 0rem;
    margin: 1rem auto;
}



/* Portfolio Slide

.portfolio {
    max-width: 768px;
    margin: 0 auto;
}

.portfolio-container {

    overflow: initial;
}

.portfolio-content {
    padding: 0% 0 1.5rem;
}

.portfolio-img {
    border-radius: .5rem;
    justify-content: center;
    width: 100%;
}

.portfolio-title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
}

.portfolio-description {
    margin-bottom: var(--mb-0-75);
    line-height: var(--h2-font-size);
}

.portfolio-button:hover .button-icon {
    transform: translateX(.25rem);
}
 */

/*==================== BUTTONS ====================*/

.button {
    display: inline-block;
    background-color: var(--hue-colour);
    color: var(--body-colour);
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: var(--font-medium);
}

.button:hover {
    background-color: var(--first-colour-alt);
}

.button-icon {
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: 0.3s;
}

.button-flex {
    display: inline-flex;
    align-items: center;

}

.button {
    padding: 0.5rem 1em;
    font-size: var(--small-font-size);
}


/*==================== ABOUT ====================*/
.about {
    padding-top: 5%;
    max-width: 768px;
    margin: 0 auto;
    overflow: initial;
}


.about-content {
    display: inline-flex;
    margin-bottom: var(--mb-1);
}

.about-img {
    display: inline-flex;
}

.about-img img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 1rem;
    object-position: 20% 15%;
}

.about-user {
    margin: 0 var(--mb-0-75)
}

.about-username {
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-0-25);
}

#about-header-text {
    font-weight: var(--font-semi-bold);
    font-size: 1.25rem;
}

#about-icon {
    padding: 0 var(--mb-0-5);
    color: rgb(12, 143, 230);
}

.about-subtitle {
    color: var(--text-colour);
}

.about-followers {
    margin-top: var(--mb-1);
}



.contact-button {
    background-color: rgb(12, 143, 230);
    margin-right: var(--mb-0-25);
}

.contact-button:hover {
    background-color: rgb(1, 83, 199)
}

.contact-button:hover .button-icon {
    transform: translateX(.25rem);
}

.about-button {
    display: inline-flex;
    flex-wrap: wrap;
    background-color: var(--body-colour-dark);
    font-size: var(--smaller-font-size);
    color: var(--text-colour);
    border-radius: 1rem;
}

.about-text {
    line-height: 1.25rem;
}

.about-text-header {
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-1);
}

.about-paragraph {
    margin-bottom: 1rem;
}

/*==================== SKILLS ====================*/


/*==================== QUALIFICATION ====================*/


/*==================== SERVICES ====================*/




/*==================== PROJECT IN MIND ====================*/


/*==================== TESTIMONIAL ====================*/


/*==================== CONTACT ME ====================*/


/*==================== FOOTER ====================*/
.footer {
    position: sticky;
    top: 100%;
    width: 100%;
    bottom: 0;
    text-align: center;
    margin-top: auto;
}

.footer-bg {
    background-color: var(--first-colour-second);
    padding: 2rem 0 2rem;
}

.footer-title {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
}

.footer-icons i {
    margin-right: 1em;
}

.footer-copy {
    font-size: var(--smaller-font-size);
    margin-top: 1em
}

.footer-title,
.footer-subtitle,
.footer-icons,
.footer-copy {
    color: var(--body-colour-darker);
}

#logo-mark {
    max-height: 40px;
    margin-bottom: 1em;
}

/*========== SCROLL UP ==========*/


/* Show scroll */


/*========== SCROLL BAR ==========*/
/* Scrollbar (Hide)*/
/* Chrome, Safari, Opera */
html::-webkit-scrollbar {
    display: none;
}

/* Firefox, IE, Edge */
html {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


/*==================== MEDIA QUERIES ====================*/

/*============ SMALL DEVICES ============*/
@media  screen and (max-width: 350px) {


/* Nav */

.nav-link {
    padding: 5%;
}
.dropdown-group {
    padding-left: 1.25rem;
}

.dropdown-title,
.dropdown-link {
    font-size: var(--small-font-size);
}

}

/*============ MEDIUM DEVICES ============*/
@media screen and (max-width: 768px) {


/* Nav */

}

/*============ LARGE DEVICES ============*/

/* Nav */




/* Home */
@media screen and (min-width: 1024px) {
    .home-grid {

        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 0rem;
        grid-column-gap: 0.25rem;
        max-width: 95%;
        margin: 3rem auto;
    }


/* Design-focus */
.design-focus-about {
    max-width: 70%;
    text-align: center;
}

.design-focus-title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
}

.design-focus-description {
    margin-bottom: var(--mb-0-75);
    line-height: var(--h2-font-size);
}

.design-focus-grid {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
    max-width: 60%;
    margin: 1rem auto;
}


}
