:root {

    /* colors */
    --highlight: #2CA4E1;
    --highlight02: #895210;
    --colour-dark: #25270b;
    --colour-med: #081959;
    --colour-light: #9dc8ac;
    --white: white;

    /* font */
    --body-font: "BrittiSans", "sans-serif";
}

@font-face {
    font-family: 'Advercase';
    src: url('https://d22p4d1ezw7euj.cloudfront.net/Fonts/AdvercaseDemo-Regular.woff2') format('woff2'),
        url('https://d22p4d1ezw7euj.cloudfront.net/Fonts/AdvercaseDemo-Regular.woff') format('woff'),
        url('https://d22p4d1ezw7euj.cloudfront.net/Fonts/AdvercaseDemo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BrittiSans';
    src: url('https://d22p4d1ezw7euj.cloudfront.net/Fonts/BrittiSans-Regular.otf');
}


/*=====================*/
/* font size for large devices */
@media screen and (min-width: 1024px) {
    :root {}
}

/* font size for large devices */
@media screen and (min-width: 1920px) {
    :root {}
}

/*=====================*/
/* (every page) */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: var(--body-font);
    background-image: url('https://d22p4d1ezw7euj.cloudfront.net/Imagery/Graphic-Circles-Rotated.png');
    background-size: contain;
    background-position: -260px 500px;
    background-repeat: no-repeat;
}

p {
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    letter-spacing: 1px;
}

li {
    list-style-type: none;
}

/*=====================*/
/* Animaiton */
@keyframes fade-in {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes fade-out {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }
}

.fade-in {
    animation: fade-in 1s;
}

.fade-out {
    animation: fade-out 1s;
}

/*=====================*/
/* Body */


/*=====================*/
/* hover & click effect */
.hover-selection-overlay {
    position: absolute;
    pointer-events: none;
    box-sizing: content-box;
    z-index: 3;
    border-radius: 2px;
    transition: opacity .12s ease, transform .12s ease;
    opacity: 0;
    transform: scale(1.01);
}

/* Add a pseudo-element for the gradient border */
.hover-selection-overlay::before {
    content: "";
    position: absolute;
    top: -1px;
    /* match border width */
    left: -1px;
    right: -1px;
    bottom: -1px;
    border-radius: 2px;
    padding: 1px;
    /* match original border thickness */
    background: linear-gradient(to right, #33a1db, #c5be4c 100%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.hover-selection-overlay.visible {
    opacity: 1;
    transform: scale(1);
}

.hover-selection-overlay .handle {
    position: absolute;
    width: 5px;
    height: 5px;
    box-sizing: border-box;
    border-radius: 1px;
    transform: translate(-50%, -50%);
}

/* corner handles */
.handle.tl {
    left: 0;
    top: 0;
    background: #33a1db;
}

.handle.tr {
    left: 100%;
    top: 0;
    background: #c5be4c;

}

.handle.bl {
    left: 0;
    top: 100%;
    background: #33a1db;
}

.handle.br {
    left: 100%;
    top: 100%;
    background: #c5be4c;
}

/* new mid-edge handles */
.handle.tm {
    left: 50%;
    top: 0;
    background: #74af9a;
}

/* top middle */
.handle.bm {
    left: 50%;
    top: 100%;
    background: #74af9a;
}

/* bottom middle */
.handle.ml {
    left: 0;
    top: 50%;
    background: #33a1db;
}

/* middle left */
.handle.mr {
    left: 100%;
    top: 50%;
    background: #c5be4c;
}

/* middle right */

/* Annoucement */
#announcement-banner {
    background-color: var(--colour-dark);
    color: var(--white);
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
    font-size: 0.5rem;
    font-weight: 500;
}

/* Header + Nav */

#header {
    width: 100vw;
    position: fixed;
    z-index: 3;
    transition: 0.8s ease-in-out;
    transform: translateY(0rem);
    font-weight: 500;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    text-transform: uppercase;
    background-color: white;
}

.header>*:not(#primary-logo) {
    flex-basis: 0;
    /* flex-grow: 1; */
}

.left {
    justify-content: start;
}

.right {
    display: flex;
    justify-content: end;
    grid-gap: 10px;
}

.right>a {
    justify-content: end;
}

.header a i {
    color: var(--colour-light);
}

.right a i {
    font-size: 1.2rem;
    color: #4a80ce;
}

.header i {
    color: var(--colour-light);
    font-size: 1.5rem;
}

.header p {
    font-size: 0.6rem;
    color: var(--colour-light);
}

.header a {
    font-size: 0.6rem;
    color: #25270b;
}

#primary-logo {
    width: 90px;
}

.header-hide {
    transform: translateY(-8.5rem) !important;
    transition: 0.8s ease-in-out;
}

/* Nav */

.menu {
    cursor: pointer;
}

nav {
    position: fixed;
    background: #dce7f4;
    height: 100vh;
    width: 50%;
    padding: 0 5%;
    padding-top: 10rem;
    margin-bottom: 8rem;
    z-index: 1;
    transition: 0.5s;
    text-transform: uppercase;
    color: #071549;
    font-size: 0.7rem;
}

.active {
    color: var(--highlight) !important;
    text-decoration: underline;
    text-underline-offset: 2px;
}

nav a {
    color: #071549;
    line-height: 3rem;
    -webkit-text-stroke-width: 0.3px;
}

.nav-show {
    transform: translateX(-100%);
    transition: 0.5s;
}

.mobile {
    display: block;
}

.desktop {
    display: none;
}


.body {
    background: conic-gradient(from 0deg, rgb(156, 216, 189, 10%) 0%, rgb(58, 56, 57, 10%) 25%, rgb(136, 161, 147, 10%) 50%, rgb(196, 196, 108, 10%) 75%, rgb(156, 216, 189, 10%) 100%);
}


.body-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    letter-spacing: 1px;
    padding: 10rem 5%;
    background-image: url('https://d22p4d1ezw7euj.cloudfront.net/Imagery/Graphic-Circles.png');
    background-size: contain;
    background-position: 200px -50px;
    background-repeat: no-repeat;
}

.landing-module {
    padding-bottom: 50px;
}


#landing-text {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    margin-bottom: 10px;
    margin: auto;
}

#landing-text p,
#project-gallery p {
    font-size: 0.6rem;
}

#landing-text h1,
#project-gallery h1 {
    padding: 0;
    font-family: 'Advercase';
    font-size: 1.5rem;
    font-weight: 100;
}

.landing-module img {
    width: 100%;
}

.folder-grid {
    display: flex;
    margin: 0 auto;
    grid-gap: 10px;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
}

.folder {
    display: block;
    flex-direction: column;
    text-transform: uppercase;
    text-align: -moz-center !important;
    font-weight: 500;
    font-size: 0.6rem;
    justify-content: center;
    cursor: pointer;
}

.folder-grid img {
    width: 50px;
}

.folder a,
.folder p {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--colour-dark);
    width: min-content;
    margin-top: 20px;
    font-weight: 500;
}

#client-grid {
    background-color: #f4efc9;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 15px;
}

#client-grid img {
    width: 55px;
    max-height: 20px;
}

.form {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.form-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    grid-gap: 10px;
    justify-content: end;
}

.form-button p {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 10px;
    /* ✅ now works */
    background: white;
    /* inner background */
    z-index: 1;
    font-size: 0.8rem;

    /* Gradient text */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #33a1db, #babc55);
}

/* Pseudo-element for gradient border */
.form-button p::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1.8px;
    /* thickness of border */
    background: linear-gradient(to right, #33a1db, #babc55);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
}


.form img {
    width: 70px;
}

form {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 10px;
    border-radius: 10px;
    grid-gap: 5px;
    margin-bottom: 20px;
}

input,
textarea {
    padding: 3px;
    font-family: var(--body-font);
    font-size: 0.8rem;
    border-radius: 5px;
    border: 1px solid red;
}


form h1 {
    font-family: 'Advercase' !important;
    padding-bottom: 10px;
}

.bio {
    background-color: #dce7f4;
    text-align: left;
    font-size: 0.6rem;
    padding: 5%;
    line-height: 0.8rem;
}

.bio-text {
    padding-bottom: 30px
}

.bio-content {
    outline: 1.8px solid white;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#bio-location {
    display: flex;
    grid-gap: 10px;
    align-items: center;
    text-transform: uppercase;
    color: #071549;
    font-size: 0.6rem;
    margin-bottom: 20px;
}

#bio-location img {
    width: 25px;
    border-radius: 0;
}

.bio-header {
    color: #4a80ce;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.bio-images {
    margin-top: 20px;
    display: flex;
    grid-gap: 10px;
}

.bio-images img {
    width: 100%;
}

#bio-logo {
    display: flex;
    align-items: center;
    width: auto;
    max-height: 20px;
}

.project-gallery {
    padding: 5rem 5%;
    align-items: center;
    display: flex;
    justify-self: center;
    flex-direction: column;
    text-align: center;
    letter-spacing: 1px;
    padding: 10rem 5%;
    padding-top: 5rem;
    background-image: url('https://d22p4d1ezw7euj.cloudfront.net/Imagery/Graphic-Circles.png');
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
}

#project-gallery {
    margin-bottom: 20px;
}

#logomark-gold {
    width: 60px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.project-category {
    width: 100%;
    text-align: left;
    font-size: 0.6rem;
    padding: 5%;
    line-height: 0.8rem;

    outline: 1.8px solid white;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
}

.project-images img,
#social video {
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 2px;
}

#social video {
    margin-bottom: 30px;
}

.image-carousel {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    margin-bottom: 30px;
}

.image-carousel img {
    border-radius: 8px;
    cursor: pointer;
}

#reveal-more {
    display: flex;
    text-transform: uppercase;
    margin: 20px 0;
    position: absolute;
    bottom: 0;
}

.column {
    display: grid;
    grid-gap: 5px;
}

#sketch img {
    width: 100%;
    border-radius: 8px;
    outline: 1.8px solid white;
}

#wiggle video {
    width: 100%;
    border-radius: 8px;
    outline: 1.8px solid white;
}

#social video {
    width: 100%;
    border-radius: 8px;
}

.hide {
    display: none;
}

.margin {
    margin-left: 20px;
}

#gradient-line {
    margin-right: 35px;
}

/* Slider Tab */
@media screen and (min-width: 0px) {

    #client-grid {
        overflow-x: auto;
    }

    .client-grid::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

}

@media screen and (min-width: 750px) {
    body .hub {
        background-position: 1000px -350px;
    }

    #gradient-line {
        margin-right: 18%;
    }

    #gradient-line img {
        width: 70px;
    }


    /* .body-content {
        padding: 10rem 8%;
        padding-bottom: 3rem;
        background-position: 500px -100px;
        grid-gap: 15px;
    } */

    #page-hub {
        background-position: -260px 450px !important;
    }

    .landing-module {
        display: grid;
        grid-template-columns: 55% 45%;
        align-items: center;
        justify-content: space-between;
        padding: 10rem 8%;
        padding-bottom: 3rem;
        background-position: 500px -150px;
        grid-gap: 15px;
    }

    .hub {
        display: flex !important;
        flex-direction: column !important;

    }

    .hub #landing-text {
        text-align: center;
    }

    .hub .right {
        width: 400px;
    }

    .hub .folder-grid {
        justify-content: center;
        margin-bottom: 20px;
    }

    #landing-text h1,
    #project-gallery h1 {
        font-size: 2rem;
    }

    #landing-text {
        text-align: left;
        margin: 0;
    }

    .landing-module .right img {
        width: 100%;
        height: fit-content;
    }

    .folder-grid {
        justify-content: start;
    }

    .project-gallery {
        display: flex;
        flex-direction: column;
        padding: 4rem 8%;
        background-image: none;
    }

    #project-gallery {
        width: 100%;
        display: flex;
        align-items: center;
        grid-gap: 20px;
    }

    #logomark-gold {
        margin-bottom: 0;
    }

    .project-header {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .project-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
    }

    .column {
        display: flex;
        flex-direction: column;
        grid-gap: 8px;
    }

    .column :last-child {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: flex;
        align-items: center;
        width: max-content;
    }

    .desktop a {
        margin-right: 40px;
        color: var(--white);
        font-size: 0.8rem;
    }

    .bio {
        display: grid;
        padding: 3rem 20%;
        grid-template-columns: 70% 32%;
        grid-gap: 10px;
    }

    .bio-images {
        justify-content: center;
    }

}