@font-face {
  font-family: 'vauliys';
  src:  url('vauliys.eot?dmvqwu');
  src:  url('/vauliys.eot?dmvqwu#iefix') format('embedded-opentype'),
    url('vauliys.ttf?dmvqwu') format('truetype'),
    url('vauliys.woff?dmvqwu') format('woff'),
    url('vauliys.svg?dmvqwu#vauliys') format('svg');
  font-weight:bold;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vauliys' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrowdown:before {
  content: "\e900";
}
.icon-arrowup:before {
  content: "\e901";
}
.icon-error:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-linkedin .path1:before {
  content: "\e907";
  color: rgb(35, 31, 32);
}
.icon-linkedin .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-linkedin .path3:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-linkedin .path4:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-email:before {
  content: "\e90e";
  padding-left: 0.1em;;
}
.icon-store:before {
  content: "\e90f";
}
